* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
h1 {
  font-size: 70px;
  font-weight: 900;
  color: white;
  padding-top: 8%;
  padding-bottom: 2%;
}
h2 {
  font-size: 45px;
  padding-top: 8%;
  padding-bottom: 2%;
}
h3.updates {
  font-size: 45px;
  padding-bottom: 3%;
  padding-top: 17%;
}
h3.donate-plan-text {
  font-size: 25px;
  padding-bottom: 3%;
  padding-top: 17%;
  text-align: left;
}
.head-section {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.text {
  color: white;
}
.paragraph {
  font-size: 20px;
  padding-bottom: 3%;
}
.link-button {
  background-color: rgba(255, 0, 72, 0.659);
  /* border-radius: 5px; */
  padding: 20px 30px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.align {
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.amount {
  font-size: 30px;
  font-weight: 700;
  width: 5%;
  background-color: rgb(236, 223, 223);
  padding: 3% 2%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
}
.select {
  color: red;
  border: 2px solid red;
}
div.line hr {
  margin-bottom: 4%;
  width: 60%;
  margin-left: 20%;
  background-color: rgb(155, 145, 145);
  border: none;
  height: 1px;
}
div.line p {
  margin-top: 4%;
  font-size: 20px;
}
.donate-plan {
  font-size: 20px;
  font-weight: 700;
  width: 20%;
  background-color: rgb(236, 223, 223);
  padding: 3% 2%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
}
#food {
  background-color: aquamarine;
  background-image: url(icons/food.png);
  background-repeat: no-repeat;
  background-position: top 40px left 25px;
}
#shelter {
  background-color: rgb(187, 112, 180);
  background-image: url(icons/shelter.png);
  background-repeat: no-repeat;
  background-position: top 40px left 25px;
}
#child {
  background-color: coral;
  background-image: url(icons/Frame-1.png);
  background-repeat: no-repeat;
  background-position: top 40px left 25px;
}
div.donate-plan p {
  text-align: left;
  padding-top: 8%;
}
footer {
  background-color: black;
  background-size: cover;
  height: 150px;
  padding-top: 3%;
}
footer h3 {
  color: crimson;
  font-size: 35px;
  padding-top: 2%;
  padding-bottom: 1%;
  font-family: 'Lobster', cursive;
}
footer p {
  color: white;
}
#email{
  width: 30%;
  height: 100px;
  background-color: rgb(214, 196, 196);
}
.form{
margin-bottom: 10%;
background-color:rgb(255, 221, 208);
align-items: center;
height: 250px;
width: 50%;
margin-left: 25%;

}
#input{
  height: 6%;
}